@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$radius: 16px;

input {
  padding: 5px;
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  color: #374A59;
  border-radius: 5px;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;

  &__content {
    border-radius: $radius;
    background-color: white;
    width: 990px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__imgBg {
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, #F395BA 0%, #FED182 100%);
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
    object-fit: cover;
    position: relative;
  }

  &__img {
    position: absolute;
    width: 223px;
    height: 223px;
    left: 45px;
    bottom: 44px;
    border-radius: 50%;
    font-family: 'DM Serif Display', serif;
  }

  &__body {
    position: absolute;
    width: 550px;
    height: 321px;
    left: 440px;
    top: 40px;
  }

  &__name {
    width: 515px;
    height: 46px;
    left: 440px;
    top: 40px;
    margin-bottom: 10px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    height: 159px;
    left: 440px;
    top: 109px;

    position: static;
    gap: 15px;
  }

  &__contacts img {
    padding-right: 5px;
    width: 30px;
    height: 27px;
  }

  &__email {
    width: 515px;
    height: 29px;
    left: 0;
    top: 0;
    display: inline-flex;
  }

  &__address {
    display: inline-flex;
    flex-direction: row;
    width: 515px;
    height: 29px;
    left: 0;
    top: 42px;
  }

  &__address input {
    width: 120px;
    margin-right: 5px;
  }

  &__phone {
    display: inline-flex;
    width: 515px;
    height: 29px;
    top: 66px;
  }

  &__website {
    display: inline-flex;
    width: 515px;
    height: 29px;
    top: 130px;
  }

  &__companyInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 408px;
    height: 86px;
    top: 240px
  }

  &__companyInfo img {
    padding-right: 10px;
    width: 98px;
    height: 40px;
  }

  &__companyTitle {
    width: 250px;
    height: 46px;
    left: 90px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__Btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px grey solid;
    border-radius: 45%;
    left: 880px;
    top: 300px;
    text-align: center;
    font-weight: bold;
    background-color: #f2f3f1;
    font-family: 'Open Sans', sans-serif;
  }

  &__Btn:hover {
    background-color: #afadad;
  }
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}


