@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$radius: 16px;

input {
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #374A59;
  border-radius: 5px;
  width: 200px;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;


  &__content {
    display: grid;
    justify-content: center;
  }
}

.profileForm {
  min-width: 990px;
  border-radius: $radius;
  background-color: white;
  box-shadow: 0 0 10px 5px lightgray;
  display: flex;

  &__imgBg {
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, #F395BA 0%, #FED182 100%);
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    border-radius: 50%;
    font-family: 'DM Serif Display', serif;
  }

  &__imgBlank {
    border-radius: 50%;
    width: 223px;
    height: 223px;
  }

  &__body {
    margin: 20px 15px;
    flex-grow: 1;
  }

  &__name {
    width: 530px;
    margin-bottom: 10px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__contacts img {
    margin-right: 5px;
    width: 30px;
    height: 27px;
  }

  &__contacts div {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
  }

  &__email {
  }

  &__address {
  }

  &__address input {
    width: 120px;
    margin-right: 5px;
  }

  &__phone {
  }

  &__website {
  }

  &__companyInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
  }

  &__companyInfo img {
    padding-right: 10px;
    width: 98px;
    height: 40px;
  }

  &__companyTitle {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__Btn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 45%;
    box-shadow: 0 0 10px 5px lightgray;
    margin-left: 150px;

    font-weight: bold;
    font-family: inherit;
    font-size: 18px;
  }

  &__Btn:hover {
    background-color: #c2e88c;
  }
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 900px) {

  .modal {
    &__content {
      margin: 20px;
      grid-template-columns: 1fr;
    }
  }

  .profileForm {
    flex-direction: column;
    min-width: 300px;

    &__imgBg {
      width: 100%;
      height: 150px;
      border-top-right-radius: $radius;
      border-top-left-radius: $radius;
      border-bottom-left-radius: 0;
    }

    &__imgBlank {
      width: 100px;
      height: 100px;
    }

    &__name {
      width: 320px;
    }

    &__address div {
      flex-direction: column;
      gap: 5px;
    }
    &__address input {
      width: 200px;
    }

    &__Btn {
      width: 30px;
      height: 30px;
      margin-left: 20px;
    }
  }
}


